@use '../../styles/utils/variable.scss';
@use './../../styles/utils/mixins.scss';

.scroll-button {
  position: fixed;
  z-index: 50;
  bottom: 28px;
  right: 32px;
  opacity: 0;
  transition: opacity variable.$button-transition-time ease;

  &__footer {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: variable.$global-border-radius;
    border: 1px solid variable.$primary;
    background-color: variable.$primary;
  }

  &.isVisible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}
