@use './../../styles/utils/mixins.scss';

.product-details {
  @include mixins.page-grid;

  padding-top: 24px;
  padding-bottom: 56px;

  @include mixins.on-tablet {
    padding-bottom: 64px;
  }

  @include mixins.on-desktop {
    padding-bottom: 80px;
  }

  &__breadcrumps {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__back-button {
    grid-column: 1 / -1;

    margin-bottom: 16px;
  }

  &__title {
    grid-column: 1 / -1;

    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__gallery {
    grid-column: 1 / -1;
    margin-bottom: 40px;

    @include mixins.on-tablet {
      grid-column: 1/8;
      column-gap: 16px;
      margin-bottom: 64;
    }

    @include mixins.on-desktop {
      grid-column: 1/13;
      margin-bottom: 80px;
    }
  }

  &__parameters {
    grid-column: 1/-1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      grid-column: 8/-1;
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 14/21;
      margin-bottom: 0;
    }
  }

  &__about {
    grid-column: 1 / -1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 1 / 13;
      margin-bottom: 80px;
    }
  }

  &__tech-specs {
    grid-column: 1 / -1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 14 / -1;
      margin-bottom: 0;
    }
  }

  &__recommended {
    grid-column: 1 / -1;
  }
}
