@use './../../styles/utils/mixins.scss';

.product-details {
  @include mixins.page-grid;

  padding-top: 24px;
  padding-bottom: 56px;

  @include mixins.on-tablet {
    padding-bottom: 64px;
  }

  @include mixins.on-desktop {
    padding-bottom: 80px;
  }

  &-breadcrumps {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &-back-button {
    grid-column: 1 / -1;

    margin-bottom: 16px;
  }

  &-title {
    grid-column: 1 / -1;

    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &-gallery {
    grid-column: 1 / -1;
    margin-bottom: 40px;

    @include mixins.on-tablet {
      grid-column: 1/8;
      column-gap: 16px;
      margin-bottom: 0;
    }

    @include mixins.on-desktop {
      grid-column: 1/13;
      margin-bottom: 80px;
    }
  }

  &-parameters {
    grid-column: 1/-1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      grid-column: 8/-1;
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 14/21;
      margin-bottom: 0;
    }
  }

  &-about {
    grid-column: 1 / -1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 1 / 13;
      margin-bottom: 80px;
    }
  }

  &-tech-specs {
    grid-column: 1 / -1;
    margin-bottom: 56px;

    @include mixins.on-tablet {
      margin-bottom: 64px;
    }

    @include mixins.on-desktop {
      grid-column: 14 / -1;
      margin-bottom: 0;
    }
  }

  &-recommended {
    grid-column: 1 / -1;
  }
}
