@use '../../styles/utils/mixins.scss';
@use '../../styles/utils/variables.scss';

._container {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  padding-top: 24px;
  max-width: 287px;
  margin: 0 auto;

  @include mixins.on-tablet {
    max-width: 592px;
  }

  @include mixins.on-tablet2 {
    max-width: 719px;
  }

  @include mixins.on-desktop {
    max-width: 1200px;
  }
}

.products {
  padding-top: 24px;
  padding-bottom: 64px;

  @include mixins.on-tablet {
    padding-bottom: 80px;
  }

  &__quantity {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5;
    color: variables.$secondary;
    font-family: variables.$font-family;
    margin-top: 8px;
    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__filters {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 16px;
    margin-bottom: 24px;
  }
  &__label {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.27;
    color: variables.$secondary;
    margin-bottom: 4px;
    font-family: variables.$font-family;
  }
  &__select {
    width: 100%;
    min-height: 40px;
  }
  &__select select {
    width: 100%;
    min-height: 40px;
    font-family: variables.$font-family;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5; /* 21/14 */
    color: variables.$primary;
  }
}

.bread-crumbs {
  margin-bottom: 24px;

  @include mixins.on-tablet {
    margin-bottom: 40px;
  }
}
