@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.secondary-container {
  height: 50px;
  padding: 10px;
  border: 1px solid variable.$elements;
  border-radius: 8px;
  background-color: variable.$white;
  color: variable.$secondary;
  margin-bottom: 16px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: auto;
  justify-content: center;
  row-gap: 40px;
  column-gap: 16px;
  margin-bottom: 40px;
  height: 100%;
  // max-width: 100%;

  @include mixins.on-tablet {
    grid-template-columns: repeat(2, 280px);
  }

  // @include mixins.on-tablet2 {
  //   grid-template-columns: repeat(3, 233px);
  // }

  @include mixins.on-tablet3 {
    grid-template-columns: repeat(3, 260px);
  }

  @include mixins.on-desktop {
    grid-template-columns: repeat(4, auto);
  }
}
