@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.category-title {
  margin-bottom: 24px;

  @include mixins.on-tablet {
    font-size: 3.2em;
    line-height: 1.3;
  }
}

.category-item {
  flex-direction: column;

  @include mixins.on-tablet {
    flex-direction: row;
    column-gap: 16px;
  }

  &__image {
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
    transition: transform variable.$button-transition-time ease;

    @include mixins.on-tablet {
      width: 100%;
      height: 100%;
    }

    @include mixins.on-desktop {
      width: 368px;
      height: 368px;
    }

    &:hover {
      transform: scale(variable.$transform-scale);
    }
  }

  &__title {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 4px;
    color: variable.$primary;

    @include mixins.on-desktop {
      font-weight: 600;
    }
  }

  &__quantity {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5;
    color: variable.$secondary;
    margin-bottom: 32px;
  }
}
