@use '../../styles/utils/variable.scss' as variable;
@use '../../styles/utils/mixins.scss' as mixins;

.checkout-cart-item {
  display: flex;
  padding: 10px;
  gap: 5px;

  border: 0px;
  &__quantity span {
    font-size: 14px;
  }
}
