@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.card {
  max-width: 288px;
  height: 100%;
  padding: 32px;
  border-radius: variable.$global-border-radius;
  border: 1px solid variable.$elements;
  font-family: variable.$font-family;
  transition: all variable.$button-transition-time ease;

  @include mixins.on-desktop {
    max-width: 272px;
  }

  &__image {
    margin-bottom: 8px;
    display: block;
    width: 100%;
    height: 130px;
    object-fit: contain;
    transition: transform variable.$button-transition-time ease;

    @include mixins.on-tablet {
      height: 196px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__title__text {
    margin-top: 16px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5;
    color: variable.$primary;
    transition: all variable.$button-transition-time ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__price {
    margin-bottom: 8px;
    column-gap: 8px;
  }

  &__price__value {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4;
    color: variable.$primary;
  }

  &__price__value__discount {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4;
    color: variable.$secondary;
    text-decoration: line-through;
  }

  &__line {
    border-bottom: 1px solid variable.$elements;
    margin-bottom: 16px;
  }

  &__descriptions {
    margin-bottom: 16px;

    &__mb {
      margin-bottom: 8px;
    }

    &__text {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: variable.$secondary;
    }

    &__value {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: variable.$primary;
    }
  }
  &__button--active {
    box-shadow: none;
    background-color: variable.$white;
    color: variable.$primary;
    border: 1px solid variable.$icons;
  }
  &__button__buy {
    height: 40px;
    width: 75%;
    border-radius: variable.$global-border-radius;
    background-color: variable.$primary;
    border: 0;
    color: variable.$white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;

    &:hover {
      box-shadow: 0px 3px 13px 0px variable.$shadow;
    }
  }

  &__button__wishlist {
    height: 40px;
    width: 40px;
    border: 1px solid variable.$icons;
    border-radius: variable.$global-border-radius;
    background-image: url('../../../public/img/icons/Favourites\ \(Heart\ Like\).svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: variable.$white;

    &:hover {
      border: 1px solid variable.$primary;
    }

    &:active {
      border: 1px solid variable.$icons;
      background-image: url('../../../public/img/icons/IconsFavourites\ Filled\ \(Heart\ Like\).svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px;
    }
  }

  &:hover {
    box-shadow: 0px 3px 13px 0px variable.$shadow;
  }
}
