@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.card {
  max-width: 288px;
  padding: 32px;
  border-radius: $global-border-radius;
  border: 1px solid variable.$elements;
  font-family: variable.$font-family;

  @include mixins.on-desktop {
    max-width: 272px;
  }

  &_image {
    margin-bottom: 8px;
    display: block;
    width: 100%;
    height: 130px;
    object-fit: contain;

    @include mixins.on-tablet {
      height: 196px;
    }

    &:hover {
      transition: all 300ms ease;
      transform: scale(1.1);
    }
  }

  &_title {
    margin-bottom: 8px;
  }

  &_title_text {
    margin-top: 16px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5;
    color: variable.$primary;

    &:hover {
      transition: all 300ms ease;
      transform: scale(1.1);
    }
  }

  &_price {
    margin-bottom: 8px;
    column-gap: 8px;
  }

  &_price_value {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4;
    color: variable.$primary;
  }

  &_price_value_discount {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4;
    color: variable.$secondary;
    text-decoration: line-through;
  }

  &_line {
    border-bottom: 1px solid variable.$elements;
    margin-bottom: 16px;
  }

  &_descriptions {
    margin-bottom: 16px;

    &_mb {
      margin-bottom: 8px;
    }

    &_text {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: variable.$secondary;
    }

    &_value {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: variable.$primary;
    }
  }

  &_button_buy {
    height: 40px;
    width: 75%;
    border-radius: $global-border-radius;
    background-color: variable.$primary;
    border: 0;
    color: variable.$white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;

    &:hover {
      box-shadow: 0px 3px 13px 0px variable.$shadow;
    }

    &:active {
      box-shadow: none;
      background-color: variable.$white;
      color: variable.$primary;
      border: 1px solid variable.$icons;
    }
  }

  &_button_wishlist {
    height: 40px;
    width: 40px;
    border: 1px solid variable.$icons;
    border-radius: 4px;
    background-image: url('../../../public/img/icons/Favourites\ \(Heart\ Like\).svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: variable.$white;

    &:hover {
      border: 1px solid variable.$primary;
    }

    &:active {
      border: 1px solid variable.$icons;
      background-image: url('../../../public/img/icons/IconsFavourites\ Filled\ \(Heart\ Like\).svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px;
    }
  }

  &:hover {
    transition: all $button-transition-time ease;
    box-shadow: 0px 3px 13px 0px variable.$shadow;
  }
}
