@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.actions-buttons {
  margin-bottom: 32px;
  gap: 8px;

  &__buy {
    flex: 1 1 70%;
    height: 40px;
    width: 175px;
    padding: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5;
    border-radius: variable.$global-border-radius;
    background-color: variable.$primary;
    color: variable.$white;

    @include mixins.on-desktop {
      width: 160px;
    }

    &:hover {
      box-shadow: 0px 3px 13px 0px variable.$shadow;
    }
  }

  &__buy--active {
    background-color: variable.$white;
    color: variable.$primary;
    border: 1px solid variable.$icons;
    border-radius: variable.$global-border-radius;

    @include mixins.on-desktop {
      width: 160px;
    }

    &:hover {
      box-shadow: 0px 4px 11px -2px variable.$shadow;
      border-radius: variable.$global-border-radius;
    }
  }

  &__wishlist {
    height: 40px;
    width: 40px;
    background-image: url('../../../public/img/icons/Fav.svg');

    html.dark & {
      background-image: url('../../../public/img/icons/favWhite.png');
    }

    &:hover {
      border: 1px solid variable.$primary;
    }
  }

  &__wishlist--active {
    height: 40px;
    width: 40px;
    background-image: url('../../../public/img/icons/IconsFav-Filled.svg');

    html.dark & {
      background-image: url('../../../public/img/icons/IconsFav-Filled-white.svg');
    }

    &:hover {
      border: 1px solid variable.$primary;
    }
  }
}
