@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss';

.actions-buttons {
  margin-bottom: 32px;
  gap: 8px;

  &__buy {
    flex: 1 1 70%;
    height: 40px;
    width: 175px;
    padding: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5;
    border-radius: variable.$global-border-radius;
    background: linear-gradient(45deg, #89939a, #313237);
    color: variable.$white;

    @include mixins.on-desktop {
      width: 160px;
    }

    &:hover {
      box-shadow: 0px 3px 13px 0px variable.$shadow;
      color: variable.$white;
    }
  }

  &__buy--active {
    background: variable.$white;
    color: variable.$primary;
    border: 1px solid variable.$icons;
    border-radius: variable.$global-border-radius;

    @include mixins.on-desktop {
      width: 160px;
    }

    html.dark & {
      background: variable.$icons;
      color: variable.$primary;
    }

    &:hover {
      box-shadow: 0px 4px 11px -2px variable.$shadow;
      border-radius: variable.$global-border-radius;

      html.dark & {
        border: 1px solid transparent;
        color: variable.$white;
      }
    }
  }

  &__wishlist {
    height: 40px;
    width: 40px;
    background-image: url('../../../public/img/icons/Fav.svg');

    html.dark & {
      background-image: url('../../../public/img/icons/Fav-White-Empty.svg');
    }

    &:hover {
      border: 1px solid variable.$primary;
    }
  }

  &__wishlist--active {
    height: 40px;
    width: 40px;
    background-image: url('../../../public/img/icons/IconsFav-Filled.svg');

    html.dark & {
      background-image: url('../../../public/img/icons/IconsFav-Filled-white.svg');
    }

    &:hover {
      border: 1px solid variable.$primary;
    }
  }
}
