$primary: #313237;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hoverBg: #fafbfc;
$green: #27ae60;
$red: #eb5757;
$shadow: #17203166;
$white: #fff;
$black: #000;
$bgColor: #dce3f1;
$purple: #905bff;
$blue: #476df4;
$gray: #323542;

$text-dark: #b4bdc3;
$bgColor-dark: #0f1121;
$primary-dark: #161827;
$secondary-dark: #75767f;
$icons-dark: #4a4d58;
$elements-dark: #3b3e4a;
$hoverBg-dark: #21262b;

$custom-footer-padding: 0 32px 32px 32px;
$font-family: Mont, sans-serif;
$font-weight: 400;

$button-transition-time: 0.3s;
$transform-scale: 1.05;

$global-border-radius: 8px;
