@use '../../styles/utils/variable.scss' as variable;
@use '../../styles/utils/mixins.scss' as mixins;

.main-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart {
  padding: 20px 0;
}
.cart-block {
  display: flex;
  flex-direction: column;
  gap: 5px;

&__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
}
.checkout-block {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid variable.$elements;
  font-size: 1.4em;
  border-radius: variable.$global-border-radius;
  text-align: center;
  gap: 20px;

  &__header {
    margin-bottom: 30px;

    &-title {
      font-size: 2em;
      font-weight: 800;
    }

  }

  &__button {
    width: 100%;
  }
}

@include mixins.on-tablet {
  .checkout-block {
    &__button {
      width: 100%;
    }
  }
}

@include mixins.on-tablet2 {
  
}

@include mixins.on-tablet3 {
  .checkout-block {
    max-width: 300px;
    max-height: 200px;
  }
  .cart-block {
    flex-direction: row;
    gap: 20px;
  }
}
