@use '../../styles/utils/variable.scss';
@use '../../styles/utils/mixins.scss' as mixins;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  padding-left: 16px;
  border-bottom: 2px solid #e2e6e9;
}

.header-nav {
  &--logo {
    width: 64px;
    height: 22px;
    transition: scale variable.$button-transition-time ease;

    &:hover {
      scale: 1.1;
    }
  }
}

.nav-links {
  display: none;
  &--item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: variable.$secondary;
    position: relative;
    transition: variable.$button-transition-time;
  }
  &--item:hover {
    color: variable.$primary;
  }
  &--current {
    color: variable.$primary;
  }
}

.burger-menu {
  width: 48px;
  height: 100%;

  border-left: 1px solid #e2e6e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-wrapper {
  display: none;
}

@include mixins.on-tablet {
  .header-nav {
    display: flex;
    box-sizing: border-box;
    &--logo {
      display: flex;
      align-items: center;
      margin-right: 36px;
    }
  }

  .nav-links {
    display: flex;
    gap: 32px;
    align-items: center;

    &--current::after {
      content: '';
      position: absolute;
      top: 27px;
      left: 0;
      width: 100%;
      height: 3px;
      background: variable.$primary;
      border-radius: 2px;
    }
  }

  .burger-menu {
    display: none;
  }

  .icons-wrapper {
    display: flex;
    height: 100%;
    cursor: pointer;
    &__item {
      position: relative;
      width: 48px;
      height: 100%;

      border-left: 1px solid variable.$elements;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color variable.$button-transition-time ease;
    }
    &__item:hover {
      background-color: variable.$elements;
    }

    &__current::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: variable.$primary;
    }
  }
}

@include mixins.on-desktop {
  .header {
    min-height: 64px;
    padding-left: 24px;
  }

  .header-nav--logo {
    margin-right: 48px;
  }

  .nav-links {
    gap: 64px;
    &--current::after {
      top: 34px;
    }
  }

  .icons-wrapper__item {
    width: 64px;
  }

  .logo-img {
    width: 80px;
    height: 28px;
  }
}
