@use './../../styles/utils/variable.scss';

.tech-specs {
  display: block;

  &__title {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 2.2em;
    line-height: 1.4;
    color: variable.$primary;
  }

  &__line {
    margin-bottom: 32px;

    border: 0.5px solid variable.$elements;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item {
    display: flex;
    justify-content: space-between;

    &--name {
      font-weight: 100;
      font-size: 14px;
      line-height: 21px;

      color: variable.$secondary;
    }

    &--value {
      font-weight: 100;
      font-size: 14px;
      line-height: 21px;

      color: variable.$primary;
    }
  }
}
