@use './../../styles/utils/variable.scss';

.tech-specs {
  display: block;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &--name {
      font-weight: 100;
      font-size: 14px;
      line-height: 21px;

      color: variable.$secondary;
    }

    &--value {
      font-weight: 100;
      font-size: 14px;
      line-height: 21px;

      color: variable.$primary;
    }
  }
}
