@use './../../styles/utils/variable.scss';

.tech-specs {
  display: block;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size: 1.4em;
    line-height: 1.3;

    &--name {
      color: variable.$secondary;
    }

    &--value {
      color: variable.$primary;

      html.dark & {
        color: variable.$icons;
      }
    }
  }
}

.tech-specs--short {
  font-size: 0.85em;
  font-weight: 600;
}
