@use '../../styles/utils/variable.scss' as variable;

.choice-button {
  background-color: variable.$primary;
  color: variable.$white;
  font-family: variable.$font-family;
  font-size: 1.4em;
  width: 175px;
  height: 48px;
  box-sizing: border-box;

  transition: box-shadow variable.$button-transition-time ease;

  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 13px rgba(18, 25, 39, 0.4);
  }

  &choice-button-confirm {
    background-color: variable.$green;
  }
}
