@use './styles/utils/variable.scss' as variable;
@use './styles/utils/mixins.scss' as mixins;

:root {
  --bulma-family-primary: Mont, sans-serif;
  --bulma-footer-padding: 0 32px 32px 32px;
}

html {
  $font-family: var(--bulma-family-primary);
  $footer-padding: var(--bulma-footer-padding);
  font-size: 10px;
}
.body-ajustment {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
._container {
  padding-inline: 16px;

  @include mixins.on-tablet {
    padding-inline: 24px;
  }

  @include mixins.on-desktop {
    padding-inline: 32px;
    max-width: 1200px;
    margin-inline: auto;
  }
}

.titleMain {
  font-size: 4.8em;
  font-weight: 800;
  line-height: 1.17;
  color: variable.$primary;
  font-family: Mont, sans-serif; // Bulma перезаписує
}

.titleSecond {
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1.4;
  color: variable.$primary;
  font-family: Mont, sans-serif; // Bulma перезаписує
.main-button {
  background-color: variable.$primary;
  color: variable.$white;
  font-size: 1.4em;
  width: 175px;
  height: 48px;
  box-sizing: border-box;

  transition: box-shadow variable.$button-transition-time ease;

  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 13px rgba(18, 25, 39, 0.4);
  }
}
