@use '../../styles/utils/mixins.scss' as mixins;
@use '../../styles/utils/variable.scss' as variable;

.phones {
  padding-top: 24px;
  padding-bottom: 64px;

  @include mixins.on-tablet {
    padding-bottom: 80px;
  }

  &__quantity {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5;
    color: variable.$secondary;
    font-family: variable.$font-family;
    margin-top: 8px;
    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__filters {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 16px;
    margin-bottom: 24px;
  }
  &__label {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.27;
    color: variable.$secondary;
    margin-bottom: 4px;
    font-family: variable.$font-family;
  }
  &__select {
    width: 100%;
    min-height: 40px;
  }
  &__select select {
    width: 100%;
    min-height: 40px;
    font-family: variable.$font-family;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5; /* 21/14 */
    color: variable.$primary;
  }
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 40px;
}

.product {
  max-width: 288px; //temp style
  flex: 1 1 100%;
  min-height: 440px;
  border: 1px solid #000;
  column-gap: 40px;

  @include mixins.on-tablet {
    flex: 1 1 50%;
    row-gap: 16px;
    column-gap: 16px;
  }
}
