.phones {
  padding: 100px;
  margin-top: 100px;

  &__quantity {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #89939a; //variables
    margin-top: 8px;
    margin-bottom: 40px;
  }

  &__filters {
    margin-bottom: 24px;
  }
  // &__control {
  // }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;

    @media (min-width: 640px) {
      grid-template-columns: 2fr;
      column-gap: 16px;
    }
  }
}

.product {
  border: 1px solid #000;
  min-height: 287px;
}
