@use '../../styles/utils/mixins.scss';
@use '../../styles/utils/variable.scss';

.products {
  padding-top: 24px;
  padding-bottom: 64px;

  @include mixins.on-tablet {
    padding-bottom: 80px;
  }

  &__quantity {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5;
    color: variable.$secondary;
    font-family: variable.$font-family;
    margin-top: 8px;
    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__filters {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    width: 270px;
  }
  &__label {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.27;
    color: variable.$secondary;
    margin-bottom: 4px;
    font-family: variable.$font-family;
  }

  &__select {
    width: 130px;
    min-height: 40px;
    font-size: 1.4em;
  }

  &__selectList {
    width: 100%;
    min-height: 40px;
    font-family: variable.$font-family;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5; /* 21/14 */
    // color: variable.$secondary;
  }
  &__pagination {
  }
}

.select .color-secondary {
  color: variable.$secondary;
}

.select .color-primary {
  color: variable.$primary;
}
.bread-crumbs {
  margin-bottom: 24px;

  @include mixins.on-tablet {
    margin-bottom: 40px;
  }
}

.container-custom {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  padding-top: 24px;
  max-width: 316px;
  margin: 0 auto;

  @include mixins.on-tablet {
    max-width: 620px;
  }

  // @include mixins.on-tablet2 {
  //   max-width: 780px;
  // }

  @include mixins.on-tablet3 {
    max-width: 854px;
  }

  @include mixins.on-desktop {
    max-width: 1200px;
  }
}

.pagination {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include mixins.on-tablet {
      gap: 16px;
    }
  }
  &__page {
    width: 3.2em;
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid variable.$elements;
    border-radius: variable.$global-border-radius;

    &--active {
      background-color: variable.$primary;
    }
    &--prev {
    }
    &--next {
    }
  }
  &__link {
    background-color: variable.$white;
    color: variable.$primary;
    &--active {
      background-color: variable.$primary;
      color: variable.$white;
    }
    &--prev {
    }
    &--next {
    }
  }
}
