@use '../../styles/utils/variable.scss' as variables;
@use '../../styles/utils/mixins.scss' as mixins;

.container {
  display: flex;
  flex-direction: column;
  max-width: 1136px;
  margin: 0 auto;
}
.navigation {
  margin: 24px 0 40px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 66px;
  line-height: 16px;
}
.go-back-btn {
  font-family: variables.$font-family;
  font-size: 1.2em;
  color: variables.$secondary;
  font-weight: 600;
  text-transform: capitalize;
}

.title {
  font-family: variables.$font-family;
  font-size: 3.2em;
  font-weight: 800;
  color: variables.$primary;
}

@include mixins.on-tablet {
  .title {
    font-size: 4.8em;
  }
}
